In [16]:
import pandas as pd

# 读取CSV文件
# df = pd.read_csv('./datasets/deduplicated_mangoNews_Nums3000p_CategoryMerge_new_undersampled_Example.csv')

# 查看数据的前几行
# print("前五行数据：")
pd.set_option('display.max_rows', None)


pd.reset_option('display.max_rows')
# df.head()

In [21]:
# 统计不同日期及对应的数据数量
import pandas as pd

file_name = './datasets/deduplicated_mangoNews_Nums3000p_CategoryMerge_new_undersampled.csv'

# 读取CSV文件
df = pd.read_csv(file_name,low_memory=False,lineterminator="\n")

# 将pub_time列转换为日期时间格式
df['pub_time'] = pd.to_datetime(df['pub_time'])

# 按照日期进行分组并统计每个日期分组中的记录数量
date_counts = df.groupby(df['pub_time'].dt.date).size()

# 将统计数据转换为DataFrame对象
date_counts_df = date_counts.reset_index(name='count')

# 按日期越新的顺序排序
date_counts_df = date_counts_df.sort_values(by='count', ascending=False)


# 保存统计数据到CSV文件
date_counts_df.to_csv('Data_counts_new_sorted.csv', index=False)

# pd.set_option('display.max_rows', None)
# 打印结果
print(date_counts_df)

        pub_time  count
0     1970-01-01    546
2464  2023-09-10    156
2520  2023-11-07    155
2500  2023-10-18    152
2527  2023-11-15    145
...          ...    ...
15    2016-06-23      1
16    2016-07-06      1
20    2016-09-26      1
23    2016-10-24      1
17    2016-09-21      1

[2554 rows x 2 columns]

In [23]:
# 提取最新的10天的新闻：2023-12-02-2023-12-11
import pandas as pd


file_name = './datasets/deduplicated_mangoNews_Nums3000p_CategoryMerge_new_undersampled.csv'

# 读取CSV文件
df = pd.read_csv(file_name,low_memory=False,lineterminator="\n")

# 将pub_time列转换为日期时间格式
df['pub_time'] = pd.to_datetime(df['pub_time'])

# 筛选日期在2023-12-02至2023-12-11之间的数据
filtered_df = df[(df['pub_time'] >= '2023-12-02') & (df['pub_time'] <= '2023-12-11')]

# 按照日期进行排序
sorted_df = filtered_df.sort_values(by='pub_time')

# 将结果保存到新的CSV文件中
sorted_df.to_csv('Data231202-231211.csv', index=False)

# 打印结果
print("已将日期在2023-12-02至2023-12-11之间的数据保存到 filtered_data.csv 文件中。")
sorted_df

已将日期在2023-12-02至2023-12-11之间的数据保存到 filtered_data.csv 文件中。

,id,website_id,request_url,response_url,category1,category2,title,abstract,body,pub_time,cole_time,images,language_id,md5
9435,19648628,2244,https://www.dailynayadiganta.com/post-editoria...,https://www.dailynayadiganta.com/post-editoria...,অন্যান্য,NaN,\n\nহিরোর হিরোইজমের পূর্বাপর\n,বিএনপির এমপিদের পদত্যাগে শূন্য হওয়া ছয়টি সংসদী...,বিএনপির এমপিদের পদত্যাগে শূন্য হওয়া ছয়টি সংসদী...,2023-12-02,4/12/2023 13:15:41,"[""https://www.dailynayadiganta.com/resources/i...",1779,2e8a86acf78b8db54acdcc92744b5596
46080,17332797,2281,https://www.jugantor.com/sports/644475/%E0%A6%...,https://www.jugantor.com/sports/644475/%E0%A6%...,খেলাধুলা,NaN,"ভারত সফরে অস্ট্রেলিয়ার ভরাডুবি, যা বললেন ভন",ভারত সফরে শুরুতেই হার দেখল অস্ট্রেলিয়া। চার ম্...,ভারত সফরে শুরুতেই হার দেখল অস্ট্রেলিয়া। চার ম্...,2023-12-02,22/9/2023 10:08:45,"[""https://www.jugantor.com/assets/news_photos/...",1779,fb535107eab6241499d7d3a0a56bb84e
114545,17380041,2281,https://www.jugantor.com/campus/644519/%E0%A6%...,https://www.jugantor.com/campus/644519/%E0%A6%...,শিক্ষা,NaN,অপহরণে অভিযুক্ত সেই অসিত পালকে বহিষ্কার করল ছা...,জাহাঙ্গীরনগর বিশ্ববিদ্যালয় ছাত্রলীগের পরিবেশ ব...,জাহাঙ্গীরনগর বিশ্ববিদ্যালয় ছাত্রলীগের পরিবেশ ব...,2023-12-02,22/9/2023 14:05:37,"[""https://www.jugantor.com/assets/news_photos/...",1779,009b8f65ccf14bcd4e9405056a9c077f
46310,17375674,2281,https://www.jugantor.com/sports/644417/%E0%A6%...,https://www.jugantor.com/sports/644417/%E0%A6%...,খেলাধুলা,NaN,‘মলম বিতর্ক’ শাস্তি হলো ভারতীয় তারকার,অস্ট্রেলিয়ার বিপক্ষে নাগপুর টেস্টে আইসিসির আচর...,অস্ট্রেলিয়ার বিপক্ষে নাগপুর টেস্টে আইসিসির আচর...,2023-12-02,22/9/2023 13:42:24,"[""https://www.jugantor.com/assets/news_photos/...",1779,3f553f74fd98dc1ade2cb7b4bf11127f
22012,19649171,2244,https://www.dailynayadiganta.com/dhaka/727296/...,https://www.dailynayadiganta.com/dhaka/727296/...,জাতীয়,NaN,\n\nআড়াইহাজারে সংঘর্ষের ঘটনায় বিএনপির ১২০ নেতা...,নারায়ণগঞ্জের আড়াইহাজারে পদযাত্রা কর্মসূচিতে পু...,নারায়ণগঞ্জের আড়াইহাজারে পদযাত্রা কর্মসূচিতে পু...,2023-12-02,4/12/2023 13:22:02,"[""https://www.dailynayadiganta.com/resources/i...",1779,b97e626b10945b52643e0cfc713bb1cf
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
47094,19628073,2244,https://www.dailynayadiganta.com/cricket/79102...,https://www.dailynayadiganta.com/cricket/79102...,খেলাধুলা,NaN,\n\nটাইমড আউট : ‘স্পিরিট অব ক্রিকেট’-এ গুরুত্ব...,বিশ্বকাপ ২০২৩-এ বাংলাদেশের বিপক্ষে শ্রীলঙ্কান ...,বিশ্বকাপ ২০২৩-এ বাংলাদেশের বিপক্ষে শ্রীলঙ্কান ...,2023-12-11,4/12/2023 09:07:46,"[""https://www.dailynayadiganta.com/resources/i...",1779,07419f3b55a6d61010b947700d0f0e83
663,19583058,2244,https://www.dailynayadiganta.com/city/790814/-...,https://www.dailynayadiganta.com/city/790814/-...,অন্যান্য,NaN,\n\n প্রধানমন্ত্রীর ত্রাণ তহবিলে শরিয়াহ-ভিত্তি...,শরিয়াহ-ভিত্তিক স্ট্যান্ডার্ড ব্যাংক লিমিটেড দর...,শরিয়াহ-ভিত্তিক স্ট্যান্ডার্ড ব্যাংক লিমিটেড দর...,2023-12-11,4/12/2023 00:30:05,"[""https://www.dailynayadiganta.com/resources/i...",1779,5dc6bc8152257661285a482ff27c3981
40103,19583145,2244,https://www.dailynayadiganta.com/cricket/79087...,https://www.dailynayadiganta.com/cricket/79087...,খেলাধুলা,NaN,\n\nব্যর্থ বিশ্বকাপ মিশন শেষে দেশে ফিরেছেন ক্র...,দেশে ফিরেছে বাংলাদেশ ক্রিকেটে দল। ব্যর্থ বিশ্ব...,দেশে ফিরেছে বাংলাদেশ ক্রিকেটে দল। ব্যর্থ বিশ্ব...,2023-12-11,4/12/2023 00:30:34,"[""https://www.dailynayadiganta.com/resources/i...",1779,afc74405ed2b9ed69a9649bf4d331eed
38577,19471494,2281,https://www.jugantor.com/sports/739438/%E0%A6%...,https://www.jugantor.com/sports/739438/%E0%A6%...,খেলাধুলা,NaN,সেই মাহমুদউল্লাহর গাড়ি ঘিরে ধরেছে কত ক্যামেরা?,অস্ট্রেলিয়ার বিপক্ষে ৮ উইকেটে হেরে ২০২৩ বিশ্বক...,অস্ট্রেলিয়ার বিপক্ষে ৮ উইকেটে হেরে ২০২৩ বিশ্বক...,2023-12-11,12/11/2023 18:46:06,"[""https://www.jugantor.com/assets/news_photos/...",1779,ed3536ba1e6c2dbcc5acf45a938d6044
61551,19470520,2281,https://www.jugantor.com/entertainment/739415/...,https://www.jugantor.com/entertainment/739415/...,বিনোদন,NaN,লন্ডনে আহত সালমান শাহর মা,প্রয়াত নায়ক সালমান শাহর মা নীলা চৌধুরীকে লন্ডন...,প্রয়াত নায়ক সালমান শাহর মা নীলা চৌধুরীকে লন্ডন...,2023-12-11,12/11/2023 15:32:43,"[""https://www.jugantor.com/assets/news_photos/...",1779,cfca361a4d1f190f1a76e64cfe5cee69

In [24]:
import pandas as pd

file_name = './datasets/deduplicated_mangoNews_Nums3000p_CategoryMerge_new_undersampled.csv'

# 读取CSV文件
df = pd.read_csv(file_name,low_memory=False,lineterminator="\n")

# 统计category2列不为空的行数
non_empty_rows = df['category2'].notna().sum()

print("category2列不为空的行数为:", non_empty_rows)

category2列不为空的行数为: 5114

In [13]:
import pandas as pd

# 读取原始CSV文件
data = pd.read_csv('Data231202-231211.csv')
# data.head()

# 添加从0开始的序号列
data['index'] = range(len(data))

# 提取指定列
selected_columns = ['index','id', 'title', 'body', 'category1', 'category2','pub_time']
selected_data = data[selected_columns]
print(selected_data.iloc[0])

# 将修改后的数据保存到新文件中
new_file_path = 'Data231202-231211_pure.csv'
selected_data.to_csv(new_file_path, index=False)
selected_data.head()

index                                                        0
id                                                    19648628
title                           \n\nহিরোর হিরোইজমের পূর্বাপর\n
body         বিএনপির এমপিদের পদত্যাগে শূন্য হওয়া ছয়টি সংসদী...
category1                                             অন্যান্য
category2                                                  NaN
pub_time                                   2023-12-02 00:00:00
Name: 0, dtype: object

,index,id,title,body,category1,category2,pub_time
0,0,19648628,\n\nহিরোর হিরোইজমের পূর্বাপর\n,বিএনপির এমপিদের পদত্যাগে শূন্য হওয়া ছয়টি সংসদী...,অন্যান্য,NaN,2023-12-02 00:00:00
1,1,17332797,"ভারত সফরে অস্ট্রেলিয়ার ভরাডুবি, যা বললেন ভন",ভারত সফরে শুরুতেই হার দেখল অস্ট্রেলিয়া। চার ম্...,খেলাধুলা,NaN,2023-12-02 00:00:00
2,2,17380041,অপহরণে অভিযুক্ত সেই অসিত পালকে বহিষ্কার করল ছা...,জাহাঙ্গীরনগর বিশ্ববিদ্যালয় ছাত্রলীগের পরিবেশ ব...,শিক্ষা,NaN,2023-12-02 00:00:00
3,3,17375674,‘মলম বিতর্ক’ শাস্তি হলো ভারতীয় তারকার,অস্ট্রেলিয়ার বিপক্ষে নাগপুর টেস্টে আইসিসির আচর...,খেলাধুলা,NaN,2023-12-02 00:00:00
4,4,19649171,\n\nআড়াইহাজারে সংঘর্ষের ঘটনায় বিএনপির ১২০ নেতা...,নারায়ণগঞ্জের আড়াইহাজারে পদযাত্রা কর্মসূচিতে পু...,জাতীয়,NaN,2023-12-02 00:00:00